/*div {
  margin-bottom: 15px;
}

md-select {
  margin-right: 10px;
  width: 15%;
}

table {
  margin-top: 15px;
  margin-bottom: 15px;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

md-input-container {
  margin-top: -15px;
  margin-bottom: -15px;
  width: 60px;
}

md-icon.gray {
  color: gray;
}

md-icon.red {
  color: #EF3340;
}

md-icon.indigo {
  color: #3F51B5;
}

md-icon.yellow {
  color: #FFC07F;
}

md-icon.green {
  color: #1CCE28;
}

div.right {
  float: right;
}*/
md-select {
  margin-right: 10px;
  width: 15%;
}

.close {
     color: #BF3232;
     opacity: 1;
 }

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.material-icons.md-48 {
  font-size: 48px
}

.material-icons.green600 { color: #3C763D; }
.material-icons.yellow600 { color: #f4bc42; }

md-progress-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  color: #4CAF50;
}
