<!--<div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <form class="form-inline has-success">
        <h4 class="title">Historical Prices</h4>
      </form>
    </div>
    <!-- <h3>Historical Prices</h3> -->
    <!--<table class="table table-hover" mdSort (mdSortChange)="sortData($event)">
      <thead class="text-success">
        <tr>
          <th md-sort-header="date">Date</th>
          <th md-sort-header="open">Open</th>
          <th md-sort-header="close">Close</th>
          <th md-sort-header="low">Low</th>
          <th md-sort-header="high">High</th>
          <th md-sort-header="volume">Volume</th>
        </tr>
      </thead>
      <tr *ngFor="let p of histPrices">
        <th>{{ p.date }}</th>
        <th>{{ p.open }}</th>
        <th>{{ p.close }}</th>
        <th>{{ p.low }}</th>
        <th>{{ p.high }}</th>
        <th>{{ p.volume }}</th>
      </tr>
    </table>
  </div>

  <footer class="container-fluid text-center">
    <a onclick="window.scrollTo(0, 0)" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  </footer>-->
