<!--
  <form>
    <md-select #select placeholder="Portfolio" name="portfolio" [(ngModel)]="comboBoxText">
      <md-option *ngFor="let p of portfolios" (click)="onChangePortfolio(p.name)" [value]=p.name>{{p.name}}</md-option>
    </md-select>

     <div #newPortfolio class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
       <label class="mdl-button mdl-js-button mdl-button--icon" for="New_portfolio">
         <i  title="Create Portfolio" class="material-icons green600">add_circle_outline</i>
       </label>
       <div class="mdl-textfield__expandable-holder">
         <input #newportfolio class="mdl-textfield__input" type="text" id="New_portfolio" (keyup.enter)="createPortfolio(newportfolio, newPortfolio)">
         <label class="mdl-textfield__label" for="sample-expandable">Portfolio Name</label>
       </div>
     </div>

     <div #renameParent class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
       <label *ngIf="selectedPortfolio" class="mdl-button mdl-js-button mdl-button--icon" for="Rename">
         <i title="Rename Portfolio" class="material-icons yellow600">mode_edit</i>
       </label>
       <div class="mdl-textfield__expandable-holder">
         <input #rename class="mdl-textfield__input" type="text" id="Rename" (keyup.enter)="updateName(rename, renameParent)">
         <label class="mdl-textfield__label" for="sample-expandable">New Name</label>
       </div>
     </div>

     <button [disabled]="!selectedPortfolio" title="Remove Portfolio" type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#myModal">
       <i class="fa fa-trash-o"></i>
     </button>
     <button [disabled]="!selectedPortfolio" title="Save" type="button" (click)="save()" class="btn btn-default btn-lg pull-right" style="margin-right: 10px">
       <i class="fa fa-floppy-o" style="color:blue"></i>
     </button>

    <div class="panel-heading">
      <form class="form-inline has-success">
        <!-- <md-input-container class="example-full-width">
          <input mdInput #uName type="text" placeholder="Update name">
        </md-input-container>
        <input #uName type="text" class="form-control input-lg" placeholder="Update name">
        <button *ngIf="selectedPortfolio" title="Update" type="button"(click)="updateName(uName.value); uName.value=''" class="btn btn-default btn-lg">
          <i class="fa fa-pencil"></i>
        </button> -->
        <!-- <button [disabled]="!selectedPortfolio" title="Remove Portfolio" type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#myModal">
          <i class="fa fa-trash-o"></i>
        </button>
        <button title="Save" type="button" (click)="save()" class="btn btn-default btn-lg pull-right" style="margin-right: 10px">
          <i class="fa fa-floppy-o"></i>
        </button> -->
      <!--</form>
    </div>
    <md-progress-spinner
      *ngIf="spinner"
      mode="indeterminate">
    </md-progress-spinner>
  </form>

<!-- Modal -->
 <!--<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <!--<div class="modal-content">
       <div class="modal-header modal-header-danger">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">WARNING</h4>
       </div>
       <div class="modal-body">
         <p>Delete {{comboBoxText}} portfolio? </p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removePortfolio()">Delete</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       </div>
     </div>
   </div>
 </div>

  <table *ngIf="selectedPortfolio" class="table table-hover" width="100%">
    <thead class="text-success">
      <tr>
        <th width="10%">Ticker</th>
        <th width="35%">Company</th>
        <th width="10%">Shares</th>
        <th width="10%">Last Price</th>
        <th width="10%">Change</th>
        <th width="20%">Present Value</th>
        <th width="5%"></th>
      </tr>
    </thead>
    <tbody *ngIf="selectedPortfolio">
      <tr *ngFor="let item of selectedPortfolio.items; let i = index">
        <td (click)='showHistoricalPrices(item)' class="align-mid">{{item.symbol}}</td>
        <td class="align-mid">{{item.details.security}}</td>
        <td class="align-mid">
          <div class="form-group has-success no-spacing">
            <input type="number" class="no-spinner form-control input-sm" [(ngModel)]="item.shares">
          </div>
        </td>
        <td class="align-mid">{{item.details.lastPrices[0].close.toFixed(2)}}</td>
        <td class="align-mid">{{((item.details.lastPrices[0].close / item.details.lastPrices[1].close - 1) * 100).toFixed(2) + '%'}}</td>
        <td class="align-mid">{{(item.details.lastPrices[0].close * item.shares).toFixed(2) | number:'1.2-2'}}</td>
        <td class="align-mid"><button title="Remove Stock" type="button"(click)="removeStock(i)" class="close"><span><i class="fa fa-minus-circle"></i></span></button></td>
      </tr>
    </tbody>
  </table>

  <form *ngIf="selectedPortfolio" class="form-inline has-success">
  <!-- <button *ngIf="!stockChange" class="mdl-button mdl-button--raised mdl-button--colored" (click)="stockChange = true">Add stock</button>
  <br-security-finder *ngIf="stockChange" (onSelected)='onNotifySelected($event)'></br-security-finder> -->
  <!-- <input #uName type="text" class="form-control input-lg pull right" placeholder="Create Portfolio">
  <button title="Create Portfolio" type="button" (click)="createPortfolio(uName.value); uName.value=''" class="btn btn-danger btn-lg pull-right">
    <i class="fa fa-plus"></i>
  </button> -->

    <!-- <input #uName type="text" class="form-control input-lg pull-right" placeholder="Create Portfolio">
    <button title="Create Portfolio" type="button"(click)="createPortfolio(uName.value); uName.value=''" class="btn btn-default btn-lg pull-right">
      <i class="fa fa-plus"></i>
    </button>
  </form> -->

  <!--<button *ngIf="!stockChange" class="mdl-button mdl-button--raised mdl-button--colored" (click)="stockChange = true">Add stock</button>
  <br-security-finder *ngIf="stockChange" (onSelected)='onNotifySelected($event)'></br-security-finder>
  <!-- <input #uName type="text" class="form-control input-lg pull right" placeholder="Create Portfolio">
  <button title="Create Portfolio" type="button" (click)="createPortfolio(uName.value); uName.value=''" class="btn btn-danger btn-lg pull-right">
    <i class="fa fa-plus"></i>
  </button> -->
<!--</form>


<br>
<br-chart *ngIf="portfolioReturns"
  [label]="selectedPortfolio.name"
  [dataset]="portfolioReturns">
</br-chart> -->
