<!-- Team -->
<div class="team">
  <div class="container">
    <div class="row">
      <h2>Meet Our Team</h2>
      <p>These were the developers which participated in the entire project</p>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="2s"> <!-- Rodrigo -->
       
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.6s"><!-- Oleh -->
        <img src="../../../assets/oleh.jpg" class="img-circle" alt="Oleh Harkusha">
        <h4>Oleh Harkusha</h4>
        <b>Full-Stack Developer</b>
        <p>Developer who constantly implemented on all components and handled security data info. Implemented equipment page back-end functionality and handled Restful API calls.</p>
        <a href="https://github.com/olehharkusha93"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/oleh-harkusha-91a253144/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/oleh.harkusha"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s"><!-- Mario -->
        <img src="../../../assets/mario.jpg" class="img-circle" alt="Mario Martinez">
        <h4>Mario Martinez</h4>
        <b>Full-Stack Developer</b>
        <p>Developer who implemented cart page functionality and handled back-end Restful API calls. Back-end engineer worked to implement logic troughout all components.</p>
        <a href="https://github.com/mariomartinez97"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mario-miguel-martinez-7ab431110/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/mariomiguel.martinez.3"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.2s"><!-- Gabriel -->
       
      </div>
    </div>
  </div>
</div>
<!-- Technologies -->
<div class="setColorBackground"></div>
<div id="tech" class="tech">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Technologies</h2>
        <p>The following technologies were what this application was built upon</p>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
        <div class="list">
          <h4>Angular</h4>
          <img src="../../../assets/angular.png" alt="Angular"><br/>
          <b>Front-End</b>
          <p>Typescript MVC framework</p>
          <hr>
          <li>Built all components</li>
          <li>Typescript oriented</li>
          <li>Single-page application</li>
          <li>Model–view–controller</li>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.2s">
        <div class="list">
          <h4>NodeJS</h4>
          <img src="../../../assets/nodejs.png" alt="Angular"><br/>
          <b>Back-End</b><br/>
          <span>Execution environment for event-driven server-side</span>
          <hr>
          <li>Event-driven architecture</li>
          <li>Handled Piping</li>
          <li>Asynchronous I/O</li>
          <li>Authentication</li>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
        <div class="list">
          <h4>Express</h4>
          <img src="../../../assets/express.png" alt="Angular"><br/>
          <b>Framework</b>
          <p>Back-End framework</p>
          <hr>
          <li>Robust set of features</li>
          <li>HTTP utility methods</li>
          <li>Thin and minimal layer</li>
          <li><br/></li> <!-- Empty to make cards have same size -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="2s">
        <div class="list">
          <h4>MongoDB</h4>
          <img src="../../../assets/mongodb.png" alt="Angular"><br/>
          <b>Database</b><br/>
          <span>Document-oriented NoSQL database program</span>
          <hr>
          <li>JSON-like documents</li>
          <li>Stored stock data</li>
          <li>Stored user's portfolios</li>
          <li><br/></li> <!-- Empty to make cards have same size -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Technologies -->

<!-- End of Team -->

<a onclick="window.scrollTo(0, 0)" title="To Top">
  <footer class="container-fluid text-center">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </footer>
</a>
