<!-- <button *ngIf="isAuthenticated()" (click)="logout()" type="button" class="btn btn-danger navbar-btn pull-right btn-sm">
  Sign-out
  <span class="glyphicon glyphicon-log-out"></span>
</button>
<button *ngIf="!isAuthenticated()" (click)="login()" type="button" class="btn btn-success navbar-btn pull-right btn-sm animated infinite pulse">
  Sign-in
  <span class="glyphicon glyphicon-log-in"></span>
</button> -->
<li *ngIf="!isAuthenticated()" (click)="login()">Sign-in</li>
<li *ngIf="isAuthenticated()" (click)="logout()">Sign-out</li>
