  <div class="container-fluid">
    <div class="row">
      <table class="table table-hover" width="100%">
        <thead class="text-success">
          <tr>
            <th>ITEMS</th>
            <th>PRICE</th>
          </tr>          
        </thead>
        <tbody>
          <td>
            <tr >
              <td style="padding-top: 10px; padding-bottom: 10px">
                Tour {{tourInfo.tourId}}
              </td>
              <td>
                ${{tourInfo.price}}
              </td>
            </tr>
            <tr *ngFor='let eq of reservation.equipment; let num = index;'>
              <td style="padding-top: 10px; padding-bottom: 10px">
                {{eq.name}}
              </td>
              <td>
                ${{eq.price}}
              </td>
            </tr>
          </td>
          <tr>
            <td>              
            </td>
            <td>
              TOTAL: {{reservation.priceTotal}}              
            </td>
            <td>
            <button>Proceed to checkout</button>
            </td>            
          </tr>                                
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="row">
      <div class="col-sm-6 form-group">
        <input #name class="form-control" id="name" name="name" placeholder="Name" type="text" required>
      </div>
      <div class="col-sm-6 form-group">
        <input #name class="form-control" id="lastname" name="lastname" placeholder="Last Name" type="text" required>
      </div>          
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <input #name class="form-control" id="phone" name="phone" placeholder="Phone Number" type="text" optional>
    </div>           
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <button>Next</button>
    </div>           
  </div>
  

  
  <a onclick="window.scrollTo(0, 0)" title="To Top">
    <footer class="container-fluid text-center">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </footer>
  </a>
