<div class="container-fluid" style="padding-top: 0px;">
    <div class="row">
      <div class="col-sm-8">
        <h2>Cart Page</h2>
        <div class="col-sm-4">
            <img class="logo animated slideInLeft" src="../../../assets/graph.PNG" style="width: 200px; height: 200px;" alt="Picture1">
          </div>
  
        <h4 class="animated slideInRight"  style="padding-left: 500px;width: 1200px;">Lorem ipsum, dolor sit amet consectetur.</h4>
        <p class="animated slideInRight"  style="padding-left: 500px;width: 1100px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dignissimos perferendis corporis? Eaque ullam mollitia expedita officiis quibusdam eveniet ratione quas. 
          Non consectetur atque ab sint consequatur architecto eius voluptatem!</p>
        <!-- <button title="Contact" onclick="window.scrollTo(0, 1800)" class="btn btn-default btn-lg animated slideInLeft">Get in Touch</button> -->
      </div>
     
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <table class="table table-hover" width="100%">
        <thead class="text-success">
          <tr>
            <th>Tour 1</th>
            <th>Tour 2</th>
            <th>Tour 3</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <tr >
              <td style="padding-top: 10px; padding-bottom: 10px">
                1
              </td>
            </tr>
          </td>
  
          <td style="padding-bottom: 80px">
            <tr>
              <td style="padding-top: 10px; padding-bottom: 10px">
                2
              </td>
            </tr>
          </td>
  
          <div>
            <tr>
              <td style="padding-top: 10px; padding-bottom: 10px">
                3
              </td>
            </tr>
          </div>
          <tr>
            <td>
              <br/>
              <a>More Info</a>
              <br/>
              <button>Add To Cart</button>
            </td>
            <td>
              <br/>
              <a>More Info</a>
              <br/>
              <button>Add To Cart</button>
            </td>
            <td>
              <br/>
              <a>More Info</a>
              <br/>
              <button>Add To Cart</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <a onclick="window.scrollTo(0, 0)" title="To Top">
    <footer class="container-fluid text-center">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </footer>
  </a>