<div class="container-fluid" style="padding-top: 0px;">
  <div class="row">
    <div class="col-sm-8">
      <h2>Info Page</h2>
      <div class="col-sm-4">
          <img class="logo animated slideInLeft" src="../../../assets/graph.PNG" style="width: 200px; height: 200px;" alt="Picture1">
        </div>

      <h4 class="animated slideInRight"  style="padding-left: 500px;width: 1200px;">Lorem ipsum, dolor sit amet consectetur.</h4>
      <p class="animated slideInRight"  style="padding-left: 500px;width: 1100px;">There are just a few active volcanoes left in the world, and Cotopaxi is one of them. You can watch the rocks burnt as a reminder of how strong can an eruption can be. Also, it is part of the chain of volcanoes known as the Pacific Ring of Fire This powerful volcano is part of the Andes Mountains and is located in Latacunga, 50 km south of Quito.

          It is the third highest active volcano in the world, the second highest volcano after Chimborazo in Ecuador, and has an amazing clear landscape from the top. Since 1738, Cotopaxi area has been creating landscapes because of the 50 eruptions until now.
          
          The first documented information about the eruption of the Cotopaxi Volcano is from 1534. From that date there have occurred numerous eruptions that even destroyed for 3 times the city of Latacunga until 1877.
          
          The first man ever to climb the Cotopaxi Volcano was a German named Wilhelm Reiss in company of the Colombian Angel M. Escobar. In 1877 a powerful eruption melt the ice of the North Slope, this was used as an easier route to climb up to the top of the Cotopaxi Volcano.</p>
      <!-- <button title="Contact" onclick="window.scrollTo(0, 1800)" class="btn btn-default btn-lg animated slideInLeft">Get in Touch</button> -->
    </div>
   
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Info 2</h2>
      <h4 class="animated slideInLeft"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <p class="animated slideInLeft"> Cotopaxi weather is volatile but never gets to extreme temperatures. Its highest temperatures during the last 10 years do not overpass the 25 Celsius and its lower temperature during the day/afternoon do not fall over 9 degrees Celsius.
    
          The fauna in this area animals like the white tail deer, bears, pumas, rabbits, mountain wolfs, skunks, opossums, weasels, and Condors as well. However, most of the animals are hidden in the huge mountains next to the volcano because of the constant human movement inside the volcano.
          
          It is considered national treasure and because of it not even the streets are pavemented. This volcano park is one of the most popular attractions in Ecuador because of its view, biodiversity and its sportive activity.</p>
    </div>
    <div class="col-sm-4">
        <!-- <span class="glyphicon glyphicon-usd logo animated slideInLeft"></span> -->
        <img class="logo animated slideInRight" src="../../../assets/graph.PNG" style="width: 300px; height: 200px; padding-left: 100px;" alt="Picture2">
      </div>
  </div>
</div>

<!-- <div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="fa fa-area-chart logo-small"></span>
      <h4>POWER</h4>
      <p>Powerful and visually appealing graphs</p>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-users logo-small"></span>
      <h4>USERS</h4>
      <p>Safe account based system</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-folder-open logo-small"></span>
      <h4>Portfolios</h4>
      <p>Create and manage your own portfolios</p>
    </div>
    </div>
</div> -->

<!-- <div class="container-fluid text-center bg-white">
  <h2>Portfolio</h2>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img routerLink="/" src="../../../assets/mainpage.PNG" alt="Buffalo">
        <p><strong>Buffalo Risk</strong></p>
        <p>Buffalo Risk built using MEAN Stack</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/graph.PNG" alt="Graph">
        <p><strong>Graphs</strong></p>
        <p>Powered by Chart.js</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/portfolio.PNG" alt="Porfolio">
        <p><strong>Portfolio</strong></p>
        <p>Personalized stock finances</p>
      </div>
    </div>
</div> -->


<!-- <a onclick="window.scrollTo(0, 0)" title="To Top">
  <footer class="container-fluid text-center">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </footer>
</a> -->
