<div class="container-fluid" style="padding-top: 0px;">
  <div class="row">
    <div class="col-sm-8">
      <h2>Info Page</h2>
      <div class="col-sm-4">
          <img class="logo animated slideInLeft" src="../../../assets/image1.jpeg" style="width: 256px; height: 341px;" alt="Picture1">
        </div>

      <h4 class="animated slideInRight"  style="padding-left: 500px;width: 1200px;">Lorem ipsum, dolor sit amet consectetur.</h4>
      <p class="animated slideInRight"  style="padding-left: 500px;width: 1100px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dignissimos perferendis corporis? Eaque ullam mollitia expedita officiis quibusdam eveniet ratione quas. 
        Non consectetur atque ab sint consequatur architecto eius voluptatem!</p>
      <!-- <button title="Contact" onclick="window.scrollTo(0, 1800)" class="btn btn-default btn-lg animated slideInLeft">Get in Touch</button> -->
    </div>
   
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Info 2</h2>
      <h4 class="animated slideInLeft"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <p class="animated slideInLeft">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est sequi velit debitis iusto temporibus deserunt et quasi quae, eveniet eius blanditiis aut. Adipisci, inventore. Perspiciatis dicta pariatur deleniti? Unde, dolor</p>
    </div>
    <div class="col-sm-4">
        <!-- <span class="glyphicon glyphicon-usd logo animated slideInLeft"></span> -->
        <img class="logo animated slideInRight" src="../../../assets/graph.PNG" style="width: 300px; height: 200px; padding-left: 100px;" alt="Picture2">
      </div>
  </div>
</div>

<!-- <div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="fa fa-area-chart logo-small"></span>
      <h4>POWER</h4>
      <p>Powerful and visually appealing graphs</p>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-users logo-small"></span>
      <h4>USERS</h4>
      <p>Safe account based system</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-folder-open logo-small"></span>
      <h4>Portfolios</h4>
      <p>Create and manage your own portfolios</p>
    </div>
    </div>
</div> -->

<!-- <div class="container-fluid text-center bg-white">
  <h2>Portfolio</h2>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img routerLink="/" src="../../../assets/mainpage.PNG" alt="Buffalo">
        <p><strong>Buffalo Risk</strong></p>
        <p>Buffalo Risk built using MEAN Stack</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/graph.PNG" alt="Graph">
        <p><strong>Graphs</strong></p>
        <p>Powered by Chart.js</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/portfolio.PNG" alt="Porfolio">
        <p><strong>Portfolio</strong></p>
        <p>Personalized stock finances</p>
      </div>
    </div>
</div> -->


<!-- <a onclick="window.scrollTo(0, 0)" title="To Top">
  <footer class="container-fluid text-center">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </footer>
</a> -->
