<body>
<div class="background"></div>
<!-- <div class="background2"></div> -->
</body>

<div class="trours">
<div class="container">
  <h2>Portfolio</h2>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img routerLink="/" src="../../../assets/mainpage.PNG" alt="Buffalo">
        <p><strong>Buffalo Risk</strong></p>
        <p>Buffalo Risk built using MEAN Stack</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/graph.PNG" alt="Graph">
        <p><strong>Graphs</strong></p>
        <p>Powered by Chart.js</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/portfolio.PNG" alt="Porfolio">
        <p><strong>Portfolio</strong></p>
        <p>Personalized stock finances</p>
      </div>
    </div>
</div>
</div>

<a onclick="window.scrollTo(0, 0)" title="To Top">
  <footer class="container-fluid text-center">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </footer>
</a>
