<body>
<div class="background2">
<!-- <div class="cloud"><img src="../../../assets/cloud.png"></div> -->
</div>
<!-- <div class="background2"></div> -->
</body>

<div class="trours">
<div class="container">
  <h2>Tours</h2>
  <h4>What we offer</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="" alt="Tour1">
        <p><strong>Tour 1</strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="" alt="Tour2">
        <p><strong>Tour 2</strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="" alt="Tour3">
        <p><strong>Tour 3</strong></p>
      </div>
    </div>
</div>
</div>

<a onclick="window.scrollTo(0, 0)" title="To Top">
  <footer class="container-fluid text-center">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </footer>
</a>
