<div class="setBackground"></div>
<div id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 wow bounceInLeft">
        <h2>Tours</h2>     
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <h4>We offer 3 differnt types of tours so you can go and have an amazing time on one of the highest active volvanoes in th world.
          We invite you to go and check out each option we provide
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="trours">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4" routerLink="../tour-1">
        <div class="thumbnail">
          <img src="../../../assets/mountain_logo2.png" alt="Tour1">
          <p><strong>Tour 1</strong></p>
        </div>
      </div>
      <div class="col-sm-4" routerLink="../tour-2">
        <div class="thumbnail">
          <img src="../../../assets/mountain_logo2.png" alt="Tour2">
          <p><strong>Tour 2</strong></p>
        </div>
      </div>
      <div class="col-sm-4" routerLink="../tour-3">
        <div class="thumbnail">
          <img src="../../../assets/mountain_logo2.png" alt="Tour3">
          <p><strong>Tour 3</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="setBackground1"></div>
