<div class="container-fluid">
  <div class="row">
      <!-- <div class="col-sm-8"> -->
        <div>
          <h2>Safety First</h2>
          <h4 class="animated slideInLeft" style="animation-delay:0.1s;">Add equipment for your trip</h4>
          <p class="animated slideInLeft" style="animation-delay:0.12s;">You are the most important person because we care about you, this tours offer the most secure hiking trip you will ever do. In order to accomplish that, we have prepared tour-guides, with satellite communication if any emergency occurs at any time during the trip. In addition, we offer oxygen cans that will prevent any altitude issues that may be caused because the volcano is located at more than 4000 meters above sea level. Another great product to prevent this effect are sweets because it regulates your blood pressure. Sweets we will not just have, but they will be NATIONAL sweets so you besides the trip, acquire knowledge about our most representative ones.</p>
          <br/>
          <p class="animated slideInLeft delay-2s" style="animation-delay:0.2s;">Another concern tourists commonly have is the level of difficulty and the possibility to get lost on the way. However, our tour-guides will hike with you all along the way and back to assure your safety. In average, the walk is about 40 minutes long.</p>
          <br/>
          <p class="animated slideInLeft delay-3s" style="animation-delay:0.3s;">The only thing you will be concern about is enjoying the view and the trip.</p>
</div>
        <!-- </div> -->
        
        <div class="container-fluid">
          <div class="row">
            <table id="equipmentTbl" width="100%">
              <thead class="text-success">
                <tr>
                  <th>Name/Description</th>
                  <th>Amount</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody *ngFor='let e of Equipment; let num = index;'>
                <td><h5>{{e.name}}</h5> <p>{{e.description}}</p></td>
                <td><input (change)="sendGrandTotal($event, e.name, e.amount, (e.amount * e.price))" style="width: 3em;" id="number" type="number" min="0" value="{{e.amount}}" [(ngModel)]="e.amount" oninput="validity.valid||(value='');"></td>
                <td>${{e.price}}</td>
                <td>${{(e.amount * e.price)}}</td>
                <!-- <td><button (click)="grandTotal(e.amount, e.price)">+</button></td> -->
                <!-- <td id="total">{{(e.amount * e.price)}}</td> -->
              </tbody>
              <tfoot>
                <!-- <hr/> -->
                <tr>
                  <th id="total" colspan="3"><b>Total :</b>
                    <br/><button *ngIf="isTotal <= 0" disabled class="btn btn-success">Add to Tour</button>
                    <button *ngIf="isTotal > 0" (click)="addToTour()" class="btn btn-success">Add to Tour</button>
                  </th>
                  <td style="font-size: 25px" id="area_total">
                    </td>
                  </tr>
                </tfoot>
                </table>
              </div>
            </div>
            <!-- <div class="col-sm-4">         
              <img src="../../../assets/PeopleWalking1.jpg" style="width: 1200px; height: 710px; " >
            </div>    -->
            <div class="row text-center">
                <div class="col-sm-4" routerLink="../safety"> 
                 <div class="thumbnail">
                   <img src="../../../assets/boots.png" style="width: 150px; height: 150px;" alt="Tour1">
                   <p><strong>Mountain boots</strong></p>
                 </div> 
               </div>
               <div class="col-sm-4" routerLink="../safety">
                 <div class="thumbnail">
                   <img src="../../../assets/jacket.png" style="width: 150px; height: 150px;" alt="Tour2">
                   <p><strong>Mountain jacket</strong></p>
                 </div>
               </div>
               <div class="col-sm-4" routerLink="../safety">
                 <div class="thumbnail">
                   <img src="../../../assets/gloves.png" style="width: 150px; height: 150px;" alt="Tour3">
                   <p><strong>Gloves</strong></p>
                 </div>
               </div>
           </div>
            