<div class="container-fluid">
  <div class="row">
      <table class="table table-hover" width="100%">
          <thead class="text-success">
            <tr>
              <th>Features</th>
              <th>Tour 1</th>
              <th>Tour 2</th>
              <th>Tour 3</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let f of Features; let num = index'> <!--*ngFor='let calc of allCalc; let num = index' -->
              <!-- <td>
                <p> {{f.item1.id}}</p>
              </td> -->
              <td>
                <p> {{f.item1[2].name}}</p>
              </td>

              </tr>
          </tbody>
        </table>
  </div>
</div>

<a onclick="window.scrollTo(0, 0)" title="To Top">
  <footer class="container-fluid text-center">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </footer>
</a>
