<div class="container-fluid">
  <div class="row">
    <table class="table table-hover" width="100%">
      <thead class="text-success">
        <tr>
          <th>Tour 1</th>
          <th>Tour 2</th>
          <th>Tour 3</th>
        </tr>
      </thead>
      <tbody>
        <td>
          <tr *ngFor='let t1 of Tour1; let num = index;'>
            <td style="padding-top: 10px; padding-bottom: 10px">
              {{t1.name}}
            </td>
          </tr>
        </td>

        <td style="padding-bottom: 80px">
          <tr *ngFor='let t2 of Tour2; let num = index;'>
            <td style="padding-top: 10px; padding-bottom: 10px">
              {{t2.name}}
            </td>
          </tr>
        </td>

        <div>
          <tr *ngFor="let t3 of Tour3">
            <td style="padding-top: 10px; padding-bottom: 10px">
              {{t3.name}}
            </td>
          </tr>
        </div>
        <tr>
          <td>
            Price: ${{Tour1Price}}
            <br/>
            <a href="tour-1" class="btn btn-default">More Info</a>
            <br/>
            <!-- <button (click)="addToCart(1)">Add To Cart</button> -->
          </td>
          <td>
            Price: ${{Tour2Price}}
            <br/>
            <a href="tour-2" class="btn btn-default">More Info</a>
            <br/>
            <!-- <button (click)="addToCart(2)">Add To Cart</button> -->
          </td>
          <td>
            Price: ${{Tour3Price}}
            <br/>
            <a href="tour-3" class="btn btn-default">More Info</a>
            <br/>
            <!-- <button (click)="addToCart(3)">Add To Cart</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<a onclick="window.scrollTo(0, 0)" title="To Top">
  <footer class="container-fluid text-center">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </footer>
</a>