<div class="container">
        <div class="row">
          <div class="col-md-4 seventy">
                <h2>Tour 2</h2>
                <p>Experience an amazing day by getting to know the Cotopaxi Volcano, which is one of the few still active worldwide. Since it is not in Quito, you can catch a bus in Parque La Carolina that will take you to the volcano. Aside from the transportation, you will have access to many activities including: hiking to the first hut at 4,800 meters of altitude; eat the best native hot chocolate you can try and bike the way down if you prefer.</p>
                <br/>
                <p>The trip consists on driving until the Cotopaxi National Park and go all the way up having a great view until the last parking spot a car can get. This volcano offers both wonderful landscapes to both of your sides, while driving you can see the different lakes and wild animals that live in that park.</p>
                <br/>
                <p>If hiking is not enough for you then this is your type of tour. Our tour guides speak English and will tell you different stories about the volcano and some legends that happen in it as well. Being exposed to such a high altitude, is dangerous for tourists that are not used to that. For your safety, our tour-guides are well prepared for any issue you may suffer. They will have delicious native sweets that will balance your blood pressure</p>
            </div>
          <div class="col-md-8 thirty">
                <h2>Add it</h2>
                    <p>To add this tour just pick a date and ammount of people you want to go with!</p>
                    <div>
                      <!-- <input style="width: 200px" id="tour_date" type="date"> -->
                      <input style="width: 200px" id="datepicker" #dateValue placeholder="mm/dd/yyyy" type="text" data-provide="datepicker">
                      <br/>
                      <br/>
                      <input #amountValue style="width: 200px" type="number" min="1" value="1" oninput="validity.valid||(value='1');">
                      <br/>
                      <br/>
                      <button (click)="addToCart(amountValue.value, dateValue.value)">Add To Cart</button>
                  </div>
            </div>
        </div>
    </div>

    <div class="container">
            <h2>Add Equipment</h2>
            <p>We understand weather and enviroment conditions wont be the regular ones on this tour. For this reason we also offer different types of equipment to make your tour more pleasant</p>
        </div>

        <div class="row text-center">
             <div class="col-sm-4" routerLink="../safety"> 
              <div class="thumbnail">
                <img src="../../../assets/boots.png" style="width: 150px; height: 150px;" alt="Tour1">
              </div> 
            </div>
            <div class="col-sm-4" routerLink="../safety">
              <div class="thumbnail">
                <img src="../../../assets/jacket.png" style="width: 150px; height: 150px;" alt="Tour2">
              </div>
            </div>
            <div class="col-sm-4" routerLink="../safety">
              <div class="thumbnail">
                <img src="../../../assets/gloves.png" style="width: 150px; height: 150px;" alt="Tour3">
              </div>
            </div>
        </div>