<div class="container">
        <div class="row">
          <div class="col-md-4 seventy">
                <h2>Tour 2</h2>
                <p>Experience an amazing day by getting to know the Cotopaxi Volcano, which is one of the few still active worldwide. Since it is not in Quito, you can catch a bus in Parque La Carolina that will take you to the volcano. Aside from the transportation, you will have access to many activities including: hiking to the first hut at 4,800 meters of altitude; eat the best native hot chocolate you can try and bike the way down if you prefer.</p>
                <br/>
                <p>The trip consists on driving until the Cotopaxi National Park and go all the way up having a great view until the last parking spot a car can get. This volcano offers both wonderful landscapes to both of your sides, while driving you can see the different lakes and wild animals that live in that park.</p>
                <br/>
                <p>If hiking is not enough for you then this is your type of tour. Our tour guides speak English and will tell you different stories about the volcano and some legends that happen in it as well. Being exposed to such a high altitude, is dangerous for tourists that are not used to that. For your safety, our tour-guides are well prepared for any issue you may suffer. They will have delicious native sweets that will balance your blood pressure</p>
            </div>
          <div class="col-md-8 thirty">
                <h2>Add it</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non provident quo sed repudiandae rem nulla distinctio cum odio facere. Doloremque animi dignissimos dolore, vero unde doloribus nostrum illo dolorem impedit!</p>
                <div>
                      <input style="width: 200px" id="tour_date" type="date">
                      <br/>
                      <br/>
                      <input style="width: 200px" type="number" min="1" value="1">
                      <br/>
                      <br/>
                      <button (click)="addToCart(2)">Add To Cart</button>
                  </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Add Equipment</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolorum quasi ex asperiores corrupti dolore. Doloremque, illum fugit. Ab iste soluta unde molestiae assumenda doloremque expedita nesciunt incidunt ipsa ea.</p>
    </div>