<div class="container">
        <div class="row">
          <div class="col-md-4 seventy">
                <h2>Tour 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vel nam qui cumque, provident eum alias quisquam dicta debitis explicabo sint doloribus ullam sunt atque modi. Minima culpa id dolor.</p>
            </div>
          <div class="col-md-8 thirty">
                <h2>Add it</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non provident quo sed repudiandae rem nulla distinctio cum odio facere. Doloremque animi dignissimos dolore, vero unde doloribus nostrum illo dolorem impedit!</p>
                <div>
                      <input style="width: 200px" id="tour_date" type="date">
                      <br/>
                      <br/>
                      <input style="width: 200px" type="number" min="1" value="1">
                      <br/>
                      <br/>
                      <button (click)="addToCart(2)">Add To Cart</button>
                  </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Add Equipment</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolorum quasi ex asperiores corrupti dolore. Doloremque, illum fugit. Ab iste soluta unde molestiae assumenda doloremque expedita nesciunt incidunt ipsa ea.</p>
    </div>