<!-- <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <h2>About Project Page</h2>
            <h4 class="animated slideInLeft">The project is for educational purpose only.</h4>
            <p class="animated slideInLeft">Project developed by four people as part of final project at Full Sail.
            This application uses data that is not up to date with today's stock market.</p>
            <button title="Contact" onclick="window.scrollTo(0, 1800)" class="btn btn-default btn-lg animated slideInLeft">Get in Touch</button>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-line-chart logo animated slideInRight"></span>
          </div>
        </div>
      </div> -->
      <!-- <input type="text" class="form-control"> -->
      
      <!-- <input id="datepicker" /> -->
      <div class="container">
            <div class="row">
              <div class="col-md-4 seventy">
                    <h2>Tour 1</h2>
                    <p>Have the most amazing experience in Ecuador by visiting one of the few active volcanoes left in this world. Transportation will be provided from Parque La Carolina, located in Quito. The tour includes a variety of activities that will make your visit as pleasant as possible.</p>
                    <br/>
                    <p>This option includes hiking along a prepared tour guide through the volcano until the first hut located at 4,800 meters high from the center of the world. As well, you will be able to walk next to the most popular lagoon where you can find peace and relax or make a quick walk as well.</p>
                    <br/>
                    <p>Feel the volcano snow when reaching the hut and we will provide you with the best hot chocolate of the country, considering we are known for having the best cacao quality in the whole world.

                            *Don´t hesitate in asking any concerns about the trip, we will be happy to assess them.</p>
                </div>
              <div class="col-md-8 thirty">
                    <h2>Add it</h2>
                    <p>To add this tour just pick a date and ammount of people you want to go with!</p>
                    <div>
                          <!-- <input style="width: 200px" id="tour_date" type="date"> -->
                          <input style="width: 200px" id="datepicker" #dateValue placeholder="mm/dd/yyyy" type="text" data-provide="datepicker">
                          <br/>
                          <br/>
                          <input #amountValue style="width: 200px" type="number" min="1" value="1" oninput="validity.valid||(value='');">
                          <br/>
                          <br/>
                          <button (click)="addToCart(amountValue.value, dateValue.value)">Add To Cart</button>
                      </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Add Equipment</h2>
            <p>We understand weather and enviroment conditions wont be the regular ones on this tour. For this reason we also offer different types of equipment to make your tour more pleasant</p>
        </div>

        <div class="row text-center">
             <div class="col-sm-4" routerLink="../safety"> 
              <div class="thumbnail">
                <img src="../../../assets/boots.png" style="width: 150px; height: 150px;" alt="Tour1">
              </div> 
            </div>
            <div class="col-sm-4" routerLink="../safety">
              <div class="thumbnail">
                <img src="../../../assets/jacket.png" style="width: 150px; height: 150px;" alt="Tour2">
              </div>
            </div>
            <div class="col-sm-4" routerLink="../safety">
              <div class="thumbnail">
                <img src="../../../assets/gloves.png" style="width: 150px; height: 150px;" alt="Tour3">
              </div>
            </div>
        </div>