<div class="container">
        <div class="row">
          <div class="col-md-4 seventy">
                <h2>Tour 3</h2>
                <p>Have the most amazing experience in Ecuador by visiting the second biggest active volcano in the whole world. Cotopaxi offers the best view at more than 4000m of altitude.

                        Hike along your tour guide through the volcano while you listen about the history and the legends that are part of the experience. As soon as you arrive to the first hut located at 4,800 meters high from the center of the world, we will provide you with the best native hot chocolate in the world. The way up should not be a concern, tourists take in average 30-50 minutes at most.</p>
                <br/>
                <p>Transportation will be provided from Parque la Carolina which is located in Quito, Ecuador´s capital, as a round trip. Cotopaxi is just 40 miles away and it will take approximately 1:30 minutes to get there.

                        Safety is a big issue tourists tend to suffer about. Is our job to keep you safe and comfortable the whole trip, reason why we prepared a variety of products that will prevent any altitude issues you may suffer. As well, our tour-guides are well prepared for any issue you may suffer. They will have delicious native sweets that will balance your blood pressure.</p>
                        <br/>
                        <p>Walking till the hut of the volcano is great, however, for some is not enough. Enjoy with your family and friends by camping right below Cotopaxi. We will provide you with tents, sleeping bags, and pillows to keep you warm and comfortable.

                                *Don´t hesitate in asking any concerns about the trip, we will be happy to assess them.</p>
            </div>
          <div class="col-md-8 thirty">
                <h2>Add it</h2>
                    <p>To add this tour just pick a date and ammount of people you want to go with!</p>
                    <div>
                      <!-- <input style="width: 200px" id="tour_date" type="date"> -->
                      <input style="width: 200px" id="datepicker" #dateValue placeholder="mm/dd/yyyy" type="text" data-provide="datepicker">
                      <br/>
                      <br/>
                      <input #amountValue style="width: 200px" type="number" min="1" value="1" oninput="validity.valid||(value='');">
                      <br/>
                      <br/>
                      <button (click)="addToCart(amountValue.value, dateValue.value)">Add To Cart</button>
                  </div>
            </div>
        </div>
    </div>

    <div class="container">
            <h2>Add Equipment</h2>
            <p>We understand weather and enviroment conditions wont be the regular ones on this tour. For this reason we also offer different types of equipment to make your tour more pleasant</p>
        </div>

        <div class="row text-center">
             <div class="col-sm-4" routerLink="../safety"> 
              <div class="thumbnail">
                <img src="../../../assets/boots.png" style="width: 150px; height: 150px;" alt="Tour1">
              </div> 
            </div>
            <div class="col-sm-4" routerLink="../safety">
              <div class="thumbnail">
                <img src="../../../assets/jacket.png" style="width: 150px; height: 150px;" alt="Tour2">
              </div>
            </div>
            <div class="col-sm-4" routerLink="../safety">
              <div class="thumbnail">
                <img src="../../../assets/gloves.png" style="width: 150px; height: 150px;" alt="Tour3">
              </div>
            </div>
        </div>